@media screen and (max-width: 499px) {
  .sidebar {
    display: none;
  }

  .navbar h2 {
    font-size: 3rem;
  }

  .banner {
    width: 120vw;
    height: 17vh;
    align-self: center;
    overflow: hidden;
    margin: 0 0.3rem;
  }

  .mid-nav {
    width: 100vw;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mid-nav li {
    margin-bottom: 0.5rem;
  }

  main {
    width: 100vw;
  }

  .searchbar {
    width: 80vw;
  }

  .search-container {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .popular-series h2 {
    text-align: center;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .hero {
    justify-content: center;
  }

  .card {
    min-height: 180px;
    min-width: 160px;
    overflow: hidden;
  }

  .info p {
    display: none;
  }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .navbar h2 {
    font-size: 2.5rem;
  }

  .sidebar {
    display: none;
  }

  .banner {
    width: 100vw;
    height: 25vh;
    align-self: center;
    overflow: hidden;
  }

  .mid-nav {
    width: 100vw;
    margin: 0 auto;
    padding: 0 0.5rem 0 0;
  }

  .dropbtn {
    padding-left: 0.5rem;
  }

  .mini-nav li:last-of-type {
    margin-left: 0.5rem;
  }

  main {
    width: 100vw;
  }

  .search-container {
    width: 40vw;
    margin-right: 0;
  }

  .searchbar {
    width: 80vw;
  }

  .popular-series h2 {
    text-align: center;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .hero {
    justify-content: center;
  }

  .card {
    min-height: 180px;
    min-width: 160px;
    overflow: hidden;
  }

  .info p {
    display: none;
  }
}
