@media screen and (max-width: 499px) {
  .login-link {
    display: none;
  }

  .signup {
    width: 80vw;
  }

  .add-btn {
    font-size: 1rem;
  }

  .add-btn i {
    font-size: 0.9rem;
  }

  .nav {
    width: 100vw;
  }

  .navbar {
    padding: 0;
    justify-content: center;
  }

  .navbar h2 {
    font-size: 3rem;
  }

  .banner {
    width: 100vw;
    height: 19vh;
    border: none;
    margin: 0;
    border-radius: 0;
  }

  .mid-nav {
    width: 100vw;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mid-nav li {
    margin-bottom: 0.5rem;
  }

  main {
    width: 100vw;
  }

  .dropbtn {
    padding-left: 0;
  }

  .popular-series h2 {
    text-align: center;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .hero {
    justify-content: center;
  }

  .card {
    min-height: 180px;
    min-width: 160px;
    overflow: hidden;
  }

  .user {
    flex-direction: column;
    align-items: flex-start;
  }

  .review-content p,
  .review-content strong {
    font-size: 1.1rem;
  }

  .read-more {
    font-size: 1.1rem;
  }

  .author-choices {
    flex-direction: column;
  }

  .rec-desc {
    display: none;
  }

  .choices {
    justify-content: space-between;
    width: 100%;
  }

  .choices:first-of-type {
    margin-bottom: 0.3rem;
  }

  .popular-section {
    grid-template-columns: 1fr;
    width: 90vw;
  }

  .pop-series-container {
    height: 150px;
  }

  .pop-series-bg {
    border: 3px solid #000;
    border-radius: 0.3rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .popular-section {
    grid-template-columns: 1fr;
    width: 90vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .navbar h2 {
    font-size: 2.5rem;
  }

  .navbar {
    padding: 0;
    justify-content: center;
  }

  .banner {
    width: 100vw;
    height: 22vh;
    border: none;
    margin: 0;
    border-radius: 0;
  }

  .mid-nav {
    width: 100vw;
    margin: 0 auto;
    padding: 0 0.5rem 0 0;
  }

  .dropbtn {
    padding-left: 0.5rem;
  }

  .mini-nav li:last-of-type {
    margin-left: 0.5rem;
  }

  main {
    width: 100vw;
  }

  .popular-series h2 {
    text-align: center;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .hero {
    justify-content: center;
  }

  .card {
    min-height: 180px;
    min-width: 160px;
    overflow: hidden;
  }
}

@media screen and (min-width: 801px) and (max-width: 1340px) {
  .popular-section {
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    margin: 0 auto;
  }
  .banner {
    width: 100vw;
    height: 22vh;
  }
}
