.popular-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin: 0 auto;
  /* z-index: 2;
  position: relative; */
}

.pop-series-bg {
  border: 2px solid #000;
  border-radius: 0.3rem;
}

.pop-series-container {
  display: flex;
  overflow: scroll;
  height: 200px;
  padding: 5px;
  background-color: #000000e1;
}

.pop-series-container img {
  height: 100%;
  border-radius: 0.1rem;
  margin-right: 2.5px;
}

.pop-series-info {
  margin-left: 2.5px;
  line-height: 1rem;
}

.pop-series-info h3 {
  text-decoration: underline;
  line-height: 1.3rem;
  margin-bottom: 0.3rem;
}

.pop-series-info p {
  font-size: 0.9rem;
}
