@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Tac+One&display=swap");

.reviews-container h2 {
  color: var(--secondary-color);
  font-size: 1.6rem;
  margin-left: 1rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #5c5c5c;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem;
}

.user h3 a {
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

.review:first-of-type {
  margin-top: 0;
}

.review-bg {
  margin: 0.7rem 1rem;
  border: 2px solid #000;
  border-radius: 0.3rem;
  overflow: hidden;
}

.review {
  background: linear-gradient(180deg, #000000cc 0 10%, #000000ec 30% 80%);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 0.4rem 0.7rem;
}

.review a {
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--secondary-color);
  justify-content: start;
}

.review-text-expanded {
  max-height: 230px;
  overflow: scroll;
  overflow-x: hidden;
}

.review-info h3 {
  margin-bottom: 0.4rem;
}

.review-content {
  display: flex;
  justify-content: space-between;
}

.review-content p {
  font-size: 1rem;
}

.review-content img {
  width: 100px;
  max-height: 140px;
  margin-left: 0.5rem;
}

.review-tag {
  font-size: 1rem;
}

.options {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.read-more {
  cursor: pointer;
  margin-left: 0.3rem;
  border: none;
  font-family: "pt sans", sans-serif;
  color: var(--secondary-color);
  background-color: transparent;
  text-decoration: underline;
  font-size: 0.8rem;
  font-weight: 800;
  margin-right: 0.5rem;
}
